body{
  background: rgb(255,190,88);
  background-image:
  radial-gradient(circle at 50% -60%, rgba(255, 191, 88, 0.356) 0%, rgba(15,22,68,1) 70%);
}

header{background-color: #0f1644; height: 90px; text-align: center;}

.nav{
  display: flex;
  flex-direction: row;
}
.logoImg{
  width: 5%;
}

main{
  padding-top: 3.9%;
}

.banner{
  border: solid 1px white;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10%;
  margin-top: 5%;
  border-radius: 10px;
  color: white;
}

.desc{
  padding: 2%;
}

.desc .main{
  text-align: center;
  font: 400 32px Spartan, sans-serif;
}

.desc .sub{
  text-align: center;
  margin-top: 2%;
}

.arrow{
  margin-top: -5%;
  text-align: center;
}

.arrowImg {
  width: 67px;
}

.gCard{display: flex; flex-direction: row; gap: 10%;}

.c2{
  background-color: transparent;
  width: 12rem;
  border: none;
}

.c2_animate{
  animation: mymove 2s infinite;
}

@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}

footer{
  text-align: center;
}

.btn{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.btnGoogle{
  width: 200px;
}

.imgGoogle{
  width: 50px;
  vertical-align: middle;
}

.btnApple{
  width: 200px;
}

.imgApple{
  width: 20%;
  vertical-align: middle;
}

.btnLT{
  width: 200px;
}

.imgLT{
  width: 20%;
  vertical-align: middle;
}

.download{
  font: 400 32px Spartan, sans-serif;
  color: white;
}

.btnExternal{
  border: solid 1px grey;
  border-radius: 10px;
  background-color: none;
  padding: 10px;
  margin: 10px;
  width: 200px;
  cursor: pointer;
}

.googleIco{
  vertical-align: middle;
}

.ltIco{
  vertical-align: middle;
}

.appleIco{
  vertical-align: middle;
  margin-bottom: 3px;
  margin-top: -1px;
}

.txtExternal{
  padding: 12px 0px 0px 10px;
}

.prototype{
  padding: 10%;
}

.separator{
  color: white;
  border: solid 3px white;
  width: 5%;
  margin: auto;
  margin-bottom: 3%;
}

@media (max-width: 480px) {
  .gCard {
    display: flex;
    flex-direction: column;
  }

  .c2{
    width: 65%;
    margin: auto;
    margin-top: 20px;
  }

  .banner{height: fit-content; display: flex; flex-direction: column;}

  .nav{
    display: flex;
    flex-direction: row;
  }
  .logoImg{
    width: 15%;
  }
}