body{
  background: rgb(255,190,88);
  background-image: 
  radial-gradient(circle at 50% -60%, rgba(255, 191, 88, 0.356) 0%, rgba(15,22,68,1) 70%);
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 80px 50px;
}
@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}
.div-2 {
  display: flex;
  width: 100%;
  max-width: 1062px;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
  }
}
.div-3 {
  justify-content: space-between;
  display: flex;
  gap: 20px;
}
.img {
  aspect-ratio: 0.81;
  object-fit: auto;
  object-position: center;
  width: 59px;
}
.img-2 {
  aspect-ratio: 5.26;
  object-fit: auto;
  object-position: center;
  width: 202px;
  max-width: 100%;
  margin: auto 0;
}
.div-4 {
  color: #fff;
  text-align: center;
  margin-top: 49px;
  font: 400 96px Spartan, sans-serif;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }
}
.div-5 {
  color: #fff;
  text-align: center;
  margin-top: 49px;
  font: 400 16px Source Sans 3, sans-serif;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img-3 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 67px;
  margin-top: 49px;
}
@media (max-width: 991px) {
  .img-3 {
    margin-top: 40px;
  }
}
.img-4 {
  aspect-ratio: 0.5;
  object-fit: auto;
  object-position: center;
  width: 283px;
  align-self: start;
  margin-top: 62px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-4 {
    margin-top: 40px;
  }
}
.div-6 {
  color: #fff;
  text-align: center;
  align-self: end;
  z-index: 10;
  margin-top: -422px;
  font: 400 48px Spartan, sans-serif;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
    margin-top: -200px;
    font-size: 40px;
  }
}
.img-5 {
  aspect-ratio: 0.5;
  object-fit: auto;
  object-position: center;
  width: 283px;
  align-self: end;
  max-width: 100%;
  margin: 147px 74px 0 0;
}
@media (max-width: 991px) {
  .img-5 {
    margin: 40px 10px 0 0;
  }
}
.div-7 {
  z-index: 10;
  display: flex;
  margin-top: -422px;
  width: 100%;
  max-width: 1007px;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
    margin-top: -200px;
  }
}
.div-8 {
  font: 48px Spartan, sans-serif;
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-9 {
  align-self: end;
  display: flex;
  margin-top: 249px;
  width: 942px;
  max-width: 100%;
  flex-direction: column;
  font-size: 64px;
}
@media (max-width: 991px) {
  .div-9 {
    margin-top: 40px;
    font-size: 40px;
  }
}
.div-10 {
  font-family: Spartan, sans-serif;
  align-self: center;
}
@media (max-width: 991px) {
  .div-10 {
    max-width: 100%;
    font-size: 40px;
  }
}
.img-6 {
  aspect-ratio: 6.67;
  object-fit: auto;
  object-position: center;
  width: 100%;
  margin-top: 69px;
}
@media (max-width: 991px) {
  .img-6 {
    max-width: 100%;
    margin-top: 40px;
  }
}

footer{
  text-align: center;
}

.btn{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.btnGoogle{
  width: 200px;
}

.imgGoogle{
  width: 50px;
  vertical-align: middle;
}

.btnApple{
  width: 200px;
}

.imgApple{
  width: 20%;
  vertical-align: middle;
}

.btnLT{
  width: 200px;
}

.imgLT{
  width: 20%;
  vertical-align: middle;
}

.download{
  font: 400 32px Spartan, sans-serif;
  color: white;
}

.btnExternal{
  border: solid 1px grey;
  border-radius: 10px;
  background-color: none;
  padding: 10px;
  margin: 10px;
  width: 200px;
  cursor: pointer;
}

.googleIco{
  vertical-align: middle;
}

.ltIco{
  vertical-align: middle;
}

.appleIco{
  vertical-align: middle;
  margin-bottom: 3px;
  margin-top: -1px;
}

.txtExternal{
  padding: 12px 0px 0px 10px;
}

.cr{
  width: 40%; margin-top: 50px; margin-bottom: 50px;
}

@media (max-width: 480px) {
  .cr{
    width: 70%;
  }
}

@media (max-width: 720px) and (min-width: 480px){
  .cr{
    width: 50%;
  }
}